* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.friends {
  position: relative;
  border: 1px solid black;
  width: 300px;
}
ul {
  list-style: none;
  border: 1px solid red;
}
.grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.flex {
  display: flex;
  flex-direction: column;
}
li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.02);
}
li:hover {
  background-color: rgb(239, 167, 115);
}
img {
  border-radius: 50%;
}

button {
  background-color: chocolate;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.add-friend-btn {
  position: absolute;
  bottom: -40px;
  right: 8px;
}
.add-friend-list {
  border: 1px solid red;
}

.add-friend-list .grid {
  grid-template-columns: 0.5fr 5fr 0.01fr;
}
.add-friend-list .add {
  grid-row-start: 2;
}
input {
  width: 150px;
}
.name,
.image {
  padding: 10px;
  border: 1px solid red;
}
