* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.main {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
}
.friends {
  position: relative;
  width: 400px;
}
.side-2 {
  width: 500px;
  padding: 50px 20px;
  background-color: rgb(248, 227, 201);
  position: relative;
  border-radius: 10px;
}
ul {
  list-style: none;
}
.grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.flex {
  display: flex;
  flex-direction: column;
}
.friends li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.02);
}
.friends li:hover {
  background-color: rgb(248, 227, 201);
}
img {
  border-radius: 50%;
}

button {
  background-color: chocolate;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.add-friend-btn {
  position: absolute;
  bottom: -50px;
  right: 8px;
}
.add-friend-list {
  display: grid;
  grid-template-columns: 1fr; /* Adjusted grid columns */
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: rgb(248, 227, 201);
  border-radius: 10px;
}
.add-friend-list .add {
  grid-column-start: 3;
  grid-column-end: span 13;
  margin: 10px 0; /* Position the "Add" button in the third column */
}

.name,
.image {
  width: 100%;
  padding: 10px;
  text-align: center;
  grid-column-end: span 2; /* Each input field spans 2 columns */
}

input,
select {
  padding: 5px 5px;
}
/*side 2*/
h3 {
  text-transform: uppercase;
}
.side-2 li {
  margin: 10px 0;
}
.side-2 input,
.side-2 select {
  width: 100px;
}
.split-bill-btn {
  position: absolute;
  bottom: 10px;
  right: 45px;
  width: 100px;
}
.others-expense {
  background-color: rgba(0, 0, 0, 0.4);
}
